.profile-master-container {
  width: 400px;
  margin: 50px auto;
}

.work-container {
  display: flex;
  flex-direction: row;

  .work-block {
    width: 140px;
    height: 140px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 6px;
    padding: 24px;
    margin: 0px 12px 12px 0px;
  }
}
