// core brand colors:
$primary: #ff7300;
$primary-dark: #914b12;
$secondary: #808080;

$site-bg: #1b1b1b;

// greys
$grey000: #ffffff;
$grey100: #f1f1f1;
$grey200: #dadada;
$grey300: #949494;
$grey400: #585858;
$grey500: #2b2b2b;
