// main typography
@import "./colors.scss"; // headers

.header1 {
  font-size: 28px;
  font-weight: medium;
}

.header2 {
  font-size: 26px;
  font-weight: 700;
}

.header3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}

.header4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

// body
.body1 {
  font-size: 14px;
}

.body2 {
  font-size: 16px;
}

.subtitle {
  color: $grey400;
}

.warning {
  color: rgb(235, 33, 33);
}

.primary {
  color: $primary;
}

.bold {
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}

.flipped {
  transform: rotate(180deg);
}
